.app {
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 50px 50px;
    row-gap: 10px;
    width: 500px;
    margin: 50px 400px;
    text-align: center;
    background-color: palevioletred;
    /*align-items: center;*/
    /*justify-content: center;*/
    color: green;
    border: 2px solid palevioletred;
}

.time {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 30px;
    background-color: sandybrown;
}

.row {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: cyan;
}

.row :nth-child(1) {
    width: 100px;
    margin: 10px;
}

.row :nth-child(2) {
    width: 100px;
    margin: 10px
}

.button {
    /*padding: .6rem 1.5rem;*/
    /*margin: 10px;*/
    /*border-radius: 3px;*/
    /*text-transform: uppercase;*/
    font-weight: bold;
    font-size: 20px;
    /*border-style: groove;*/
}

.button:focus {
    outline-width: 0;
}

.button-primary:hover {
    background-color: #2641d4;
    border: 1px solid #1b1f2b;
}

.button-primary-active {
    background-color: #3151ff;
    border: 1px solid #152684;
    color: white;
}

.button-primary-inactive {
    background-color: #3151ff;
    border: 1px solid #152684;
    color: white;
}